body    {
    background-color: beige;
    margin: 0;
    overflow: hidden
}

.cards__container   {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.cards  {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.125fr 1fr 0.25fr;
    padding: 2rem 8rem 4rem;
    max-width: 900px;
    gap: 4rem;
    margin: 0 auto;
    background-color: #212121;
}

@media  (width<700px) {
    .cards  {
        padding: 2rem 4rem;
        gap: 2rem;
    }  
}
@media  (width<500px) {
    .cards  {
        padding: 4vw 8vw;
        gap: 4vw;
    }  
}

.cards__title   {
    grid-column: span 2;
    color: white;
    margin: 0;
    padding: 0 0 2rem;
    font-size: clamp(1.5rem, 5vw, 3.5rem);
}

.card   {
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: beige;
    padding: 2rem 0rem;
    gap: 1rem;
    touch-action: none;
}

.card__title    {
    margin: 0;
    font-size: clamp(0.5rem, 5vw, 2rem);
}

.card  img {
    width: 80%;
    height: 100%;
    height: auto;
    border-radius: 1rem;
    aspect-ratio: 16 / 10;
    object-fit: cover;
}

h1  {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #212121;
}

.voteButton {
    padding: 0.75rem 2rem;
    border: none;
    width: 40%;
    border-radius: 1rem;
    background-color: #212121;
    color: white;
    text-transform: uppercase;
}

.voteButton:hover   {
    transform: scale(1.05);
    background-color: #4BB543;
}

.voteButton:active  {
    background-color: #4BB543;
    transform: translateY(2px);
    box-shadow: inset 4px -2px 0 rgba(0, 0, 0, 0.2);
}

.sidebar    {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
}

.scoreboard__container  {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    background-color: transparent;
    gap: 2rem;
}


.scoreButton    {
    background-color: transparent;
    color: #212121;
    border: 2px solid #212121;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
}

.scoreButton:hover  {
    background-color: #212121;
    color: white;
    border: none;
}

.scoreButton:active {
    transform: translateY(2px);
    box-shadow: inset 4px -2px 0 rgba(0, 0, 0, 0.2);
}

#scoreboard {
    display: none;
    color: #212121;
    font-family: sans-serif;
}
.scoreboard__button--open   {
    background-color: transparent;
    color: #212121;
    border: 2px solid #212121;
    font-weight:500;
    max-width: 70%;
    padding: 0.75rem 2rem;
    margin: 0 auto;
}

.scoreboard--open {
    background-color: beige;
    min-width: 50%;
    max-width: 600px;
    padding-bottom: 2rem;
}

.scoreboard__header {
    display: flex;
    max-width: 100%;
}

.scoreboard__title  {
    color: #212121;
    padding: 0 1rem;
    width: 90%;
}

.closeScoreboard    {
    color: red;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.closeScoreboard:hover  {
    scale: 1.2;
}

.closeScoreboard:active  {
    scale: 1;
}

.scoreboard__item   {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #212121;
    gap: 2rem;
}
.scoreboard__id {
    display: flex;
}

.scoreboard__rank   {
    width: 3rem;
    text-align: center;
}

.scoreboard__name   {
    font-weight: bold;
    color: #212121;
}
